@import "tailwindcss";

:root {
  background-color: white;
}

img {
  display: block;
  max-width: 100%;
}

.router-link-active {
  @apply text-black;
}

.router-link-active span:first-child {
  @apply scale-110;
}